@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: blueviolet;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
}

.navbar a:hover, .navbar a.active{
    color: blueviolet;
}

.hero {
    height: 100vh;
    background: linear-gradient(-90deg, blueviolet 65%, #fff 35%);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
}

.hero-image {
    width: 500px;
    height: 500px;
    background: seagreen;
}

.hero-content {
    max-width: 600px;
    color: #fff;
    text-align: right;
}

.hero-content h1 {
    font-size: 55px;
    line-height: 1.2; 
}

.hero-content h2 {
    font-size: 40px;
    color: blue;
    -webkit-text-stroke: .5px #fff;   
}

.hero-content p {
    font-size: 16px;
    margin-top: 20px;
}

.social-icons {
    margin: 25px 0 40px;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.social-icons a:hover {
    background-color: seagreen;
}